.jumbotron
   %h3 Create a Transaction
   = form_tag transactions_new_path, :method => :post do
      %label{:for => "name"} Price $
      %input{:name => "price", :type =>"text", :size => 5}
      %br
      %br
      %label{:for => "title"} Title
      %input{:name => "title", :type =>"text"}
      %br
      %br
      %label{:for => "description"} Description
      %textarea{:name => "description"}
      %br
      %br
      %h5 Select Co-Payers
      - if @all_users
         %p
            %select{:multiple => true, :name => "users"}
               -@all_users.each do |user|
                  %option{:value => user.id}= user.name
         %p
      %br
      %br
      %input{:type => "submit", :value => "Create"}
