<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Transactions', transactions_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Create Transaction', transactions_new_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Login', login_path, method: 'GET', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Logout', logout_path, method: 'POST', class: 'nav-link' %></li>
